:root {
  --website-primary-font: "Radio Grotesk", sans-serif;
  --website-secondary-font: "Fragment Serif", serif;
}

/* FONT */
/* Light*/
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Light.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-Light.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-Light.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-Light.otf") format("opentype");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-Regular.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-Regular.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
}

/* Bold */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-Bold.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-Bold.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Italic Light */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-LightItalic.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-LightItalic.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-LightItalic.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Italic Regular */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-RegularItalic.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-RegularItalic.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-RegularItalic.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Italic Bold */
@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-BoldItalic.woff2") format("woff2"),
    url("/fonts/PPRadioGrotesk-BoldItalic.woff") format("woff"),
    url("/fonts/PPRadioGrotesk-BoldItalic.ttf") format("truetype"),
    url("/fonts/PPRadioGrotesk-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* SECOND FONT */
/* Regular */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifRegular.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifRegular.woff") format("woff"),
    url("/fonts/PPFragment-SerifRegular.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifRegular.otf") format("opentype");
  font-weight: 390;
}

/* Extra Bold */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifExtraBold.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifExtraBold.woff") format("woff"),
    url("/fonts/PPFragment-SerifExtraBold.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifExtraBold.otf") format("opentype");
  font-weight: 780;
}

/* Regular Light */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifRegularItalic.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifRegularItalic.woff") format("woff"),
    url("/fonts/PPFragment-SerifRegularItalic.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifRegularItalic.otf") format("opentype");
  font-weight: 390;
  font-style: italic;
}

/* Extra Bold Regular */
@font-face {
  font-family: "Fragment Serif";
  src: url("/fonts/PPFragment-SerifExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/PPFragment-SerifExtraBoldItalic.woff") format("woff"),
    url("/fonts/PPFragment-SerifExtraBoldItalic.ttf") format("truetype"),
    url("/fonts/PPFragment-SerifExtraBoldItalic.otf") format("opentype");
  font-weight: 780;
  font-style: italic;
}

body {
  background-color: rgb(255, 255, 252);
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      0deg,
      #030504 10%,
      rgba(2, 4, 3, 0.6) 51.55%,
      rgba(11, 6, 32, 0.2) 100%
    ),
    url(../images/jmb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 270px 0;
  background-position: center 0;
}

header h1 {
  font-family: var(--website-secondary-font);
  font-size: 128px;
  font-weight: 390;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}

header h2 {
  font-family: var(--website-primary-font);
  font-size: 40px;
  font-weight: 390;
  line-height: 1.5;
  margin: 0;
  margin-top: 10px;
}

header h3 {
  font-family: var(--website-primary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 780;
  line-height: 1.5;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

header a {
  text-decoration: 0;
  color: white;
  font-family: var(--website-primary-font);
  font-size: 16px;
  font-weight: 390;
  margin-top: 60px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 100px;
  background-color: rgba(133, 145, 137, 1);
}

@media (max-width: 900px) {
  header {
    padding: 135px 30px;
  }
  header h1 {
    font-size: 64px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 10px 20px;
    margin-top: 30px;
  }
}
